-- Pay periods must be generated by a new year. Normally we generate the first 2-3 pay periods for next year, since the Start/End date may be in previous year.
-- Run following script to create one pay period schedule

USE [SanjelData]
GO
SET IDENTITY_INSERT [dbo].[PayPeriod] ON 
GO
DECLARE @cnt INT = 0;
WHILE @cnt < 26
BEGIN
INSERT INTO [dbo].[PayPeriod] ([id], [entity_status], [owner_id], [name], [description], [PayDate], [StartDate], [Status], [EndDate], [DueDate],[PayPeriodNumber]) 
select  id + 1, [entity_status], [owner_id], CONCAT(FORMAT(DATEADD(day, 14, [StartDate]), 'MM/dd/yyyy'),' - ', FORMAT(DATEADD(day, 14, [EndDate]), 'MM/dd/yyyy')),
 [description], DATEADD(day, 14, [PayDate]), DATEADD(day, 14, [StartDate]), [Status], DATEADD(day, 14, [EndDate]), DATEADD(day, 14, [DueDate]),PayPeriodNumber + 1 
from [dbo].[PayPeriod] where id = (select MAX(id) from PayPeriod);
SET @cnt = @cnt + 1;
END
GO
SET IDENTITY_INSERT [dbo].[PayPeriod] OFF
GO

-- Rest the PayPeriodNumber for next year.

Update PayPeriod set PayPeriodNumber = 1 where id = 64;
Update PayPeriod set PayPeriodNumber = 2 where id = 65;
Update PayPeriod set PayPeriodNumber = 3 where id = 66;
